@import "bootstrap";

body {
	
	background-color: #F5F5F1;
	color: #333333;
	padding-top: 100px;
}

.navbar-default {
	background-color: #637c9b;
}

.navbar-default .navbar-brand {
	color: #ffd400;
	font-size: 34px;

}

.navbar-default .navbar-nav > li > a {
	color: #ebf2f4;
	font-size: 18px;
}

.center {
	text-align: center;
}

.col-md-3:nth-child(4n+1) {
	clear: left;
}

.col-md-6 h2{
	font-size: 44px;;
}

.col-md-6 h3{
	font-size: 34px;;
}

.col-md-6 p{
	font-size: 24px;;
}



.padding-right {
	padding-right: 30px;
}

.title {
	color: #fff;
}

.jumbotron {
	background-image: url('https://www.dropbox.com/s/y9otc4771q5kbdp/jumbo.jpg?raw=1');
	height: 350px;
	color: #fff;
	text-shadow: 2px 2px #1c1616;

}

.price {
	color: #74e035;
}



